@use '../_variables-map' as *;

/* === Authentication Set === */
.auth {
    > .background {
        position: absolute;
        width: 100%;
        height: 100%;
        inset-inline-start: 0;
        inset-block-start: 0;
        z-index: -1;
        opacity: 0.15;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .logo {
        width: 32px;
        height: 32px;
        margin-bottom: 24px;

        > img {
            max-width: 100%;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 24px;

        > h4,
        p {
            margin-bottom: 0;
        }
    }

    .password {
        position: relative;

        > button {
            position: absolute;
            top: 50%;
            right: 2%;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            color: $text-muted;
        }
    }
}
/* === Authentication Set === */
