@use '../_variables-map' as *;

/* === Flatpickr Set === */
@media (max-width: 575.98px) {
    .flatpickr-calendar.animate.open {
        width: 302px !important;
    }
    .hasWeeks .dayContainer {
        width: 258.875px !important;
        min-width: 258.875px !important;
    }
    .dayContainer {
        width: 302.875px !important;
        min-width: 302.875px !important;
    }
}

.flatpickr-calendar {
    background-color: $white !important;
    box-shadow: $box-shadow !important;
    border: 1px solid $default-border !important;
    font-size: 0.8125rem !important;
}

.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
    color: $black-09 !important;
    fill: $black-09 !important;
}

.rangeMode .flatpickr-day {
    margin-top: 4px !important;
}

.flatpickr-day.endRange.startRange,
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange {
    border-radius: 50px 0 0 50px !important;
}

.flatpickr-day.endRange.endRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange {
    border-radius: 0 50px 50px 0 !important;
}

.flatpickr-monthDropdown-months,
.numInput {
    color: $black !important;
}

.flatpickr-day.today.inRange {
    color: $primary !important;
}

.dayContainer {
    padding: 0.25rem !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: $white !important;
    font-size: 0.813rem;
}

.flatpickr-months .flatpickr-next-month svg,
.flatpickr-months .flatpickr-prev-month svg {
    width: 1.25rem !important;
    height: 1.25rem !important;
    padding: 0.25rem;
    fill: $primary;
}

.flatpickr-day.inRange {
    box-shadow: none !important;
}

.flatpickr-calendar.open {
    z-index: 105 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    border-radius: 0.25rem !important;
    border: 1px dashed $primary-03 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: transparent !important;
}

.flatpickr-calendar.arrowBottom:before,
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: $text-muted !important;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: $text-muted !important;
}

.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n + 1)),
.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n + 1)) {
    box-shadow: none !important;
}

.flatpickr-day {
    color: $default-text-color !important;
    font-weight: 500 !important;

    &.nextMonthDay,
    &.prevMonthDay {
        opacity: 0.5 !important;
    }
}

.flatpickr-day.today {
    border-color: $primary-03 !important;
    background-color: $primary-03 !important;
    color: $default-text-color !important;
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
    background: $primary !important;
    color: $white !important;
    border-color: $primary !important;
}

.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.today.inRange,
.flatpickr-day:focus,
.flatpickr-day:hover {
    background: #f9f7fc !important;
    border-color: $default-border !important;
}

.flatpickr-day.today:hover {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white !important;
}

.flatpickr-calendar.hasTime .flatpickr-time {
    border-top: 1px solid $default-border !important;
}

.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before {
    border-bottom-color: $default-border !important;
}

.flatpickr-calendar.arrowBottom:after,
.flatpickr-calendar.arrowBottom:before {
    border-top-color: $default-border !important;
}

.flatpickr-time .flatpickr-am-pm:focus,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time input:hover {
    background: #f9f7fc !important;
}

.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-time-separator {
    color: $text-muted !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    inset-inline-start: 0 !important;
}

.flatpickr-months,
.flatpickr-weekdays {
    background-color: $primary-01 !important;
}

.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
    inset-block-start: 0 !important;
    padding-block-start: 0.313rem !important;
    padding-inline: 0.313rem !important;
    padding-block-end: 0 !important;
    color: $primary !important;
    fill: $primary !important;
}

@media (min-width: 420px) {
    .flatpickr-time .flatpickr-am-pm {
        padding: 0 1.875rem 0 0.5rem;
    }
}

.flatpickr-weekdays {
    border-block-end: 1px solid $default-border !important;
}

.numInputWrapper span.arrowUp {
    top: -0.125rem !important;
}

.flatpickr-current-month .numInputWrapper {
    width: 3.5rem !important;
}

.flatpickr-calendar.hasTime {
    width: auto;
}

@media (max-width: 575.98) {
    .flatpickr-calendar {
        width: 250px !important;
    }
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    margin: -1px 2.25rem 0 0 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
    padding-block: 0 !important;
    padding-inline-start: 0 !important;
    padding-inline-end: 0.5ch !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}

.flatpickr-months .flatpickr-next-month:hover,
.flatpickr-months .flatpickr-prev-month:hover {
    stroke: $primary;
}

.flatpickr-day {
    border-radius: $default-radius !important;
}

.numInputWrapper:hover {
    background: transparent !important;
}

.numInputWrapper span {
    border: 0 !important;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-block-end-color: $primary !important;
}

.flatpickr-months .flatpickr-next-month:hover svg,
.flatpickr-months .flatpickr-prev-month:hover svg {
    fill: $white !important;
}

.numInputWrapper span:hover {
    background: transparent !important;
}

.numInputWrapper span.arrowUp:after {
    border-inline-start: 0.25rem solid transparent !important;
    border-inline-end: 0.25rem solid transparent !important;
    border-block-end: 0.25rem solid $primary-05 !important;
    inset-block-start: 75% !important;
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-block-start-color: $primary !important;
}

.numInputWrapper span.arrowDown:after {
    border-inline-start: 0.25rem solid transparent !important;
    border-inline-end: 0.25rem solid transparent !important;
    border-block-start: 0.25rem solid $primary-05 !important;
    inset-block-start: 15% !important;
}

span.flatpickr-weekday {
    color: $primary-08 !important;
    font-weight: 700 !important;
}

.flatpickr-months .flatpickr-month {
    color: $primary !important;
    fill: $primary !important;
}

.flatpickr-monthDropdown-months,
.numInput {
    color: $primary !important;
}

.pcr-app {
    background: $white !important;
}

.pcr-app .pcr-interaction .pcr-result {
    color: $default-text-color !important;
    background: $default-background !important;
}

.theme-container,
.theme-container1,
.theme-container2 {
    button {
        display: none;
    }
}

.pcr-app[data-theme="classic"] .pcr-selection .pcr-color-preview {
    margin-inline-end: 0.75em !important;
}

.pcr-app[data-theme="classic"] .pcr-selection .pcr-color-chooser,
.pcr-app[data-theme="classic"] .pcr-selection .pcr-color-opacity {
    margin-inline-start: 0.75em !important;
}

.flatpickr-weekwrapper .flatpickr-weeks {
    box-shadow: 1px 0 0 $default-border !important;
}
/* === Flatpickr Set === */
