@use '../_variables-map' as *;

/* === Filepond === */
.filepond--drop-label {
    color: $default-text-color !important;
    border-radius: 0.3rem !important;
}

.filepond--credits {
    display: none;
}

.filepond--panel-root {
    background-color: $white !important;
    border: 0.125rem dashed $default-border !important;
}

.filepond--drop-label.filepond--drop-label label {
    padding: 1.5em !important;
    font-size: 0.8125rem;
}

.filepond--root {
    margin-block-end: 0 !important;
}

.filepond--file {
    background-color: $primary !important;
}

.single-fileupload {
    width: 8rem !important;
    height: 8rem !important;
    margin: 0 auto !important;
}
/* === Filepond === */

/* === Dropzone === */
.dropzone {
    border: 0.125rem dashed $default-border !important;
    background-color: transparent !important;

    .dz-message .dz-button {
        font-size: 1.25rem !important;
        color: $default-text-color !important;
    }
}

.dropzone .dz-preview:hover {
    z-index: 8 !important;
}

.dropzone .dz-preview {
    border-radius: 1.25rem;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-progress,
.dropzone .dz-preview .dz-success-mark {
    z-index: 10 !important;
}
/* === Dropzone === */