@use '../_variables-map' as *;

/* === Spinner Set === */
.spinner-border,
.spinner-grow {
    display: inline-block;
    border-radius: 50%;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    border-right-color: transparent;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}

.spinner-grow {
    background-color: currentcolor;
    opacity: 0;
}
/* === Spinner Set === */
