/* VARIABLE */
@forward '_variables';

/* COMPONENTS */
@forward 'components/background.scss';
@forward 'components/border.scss';
@forward 'components/choice-js.scss';
@forward 'components/font.scss';
@forward 'components/noUiSlider.scss';
@forward 'components/opacity.scss';
@forward 'components/placeholder.scss';
@forward 'components/scroll-to-top.scss';
@forward 'components/simplebar.scss';
@forward 'components/svg.scss';
@forward 'components/typography.scss';

/* LAYOUTS */
@forward 'layouts/body.scss';
@forward 'layouts/contents.scss';
@forward 'layouts/footer.scss';
@forward 'layouts/header.scss';
@forward 'layouts/responsive-backdrop.scss';
@forward 'layouts/sidebar.scss';

/* CUSTOM */  
@forward 'custom/alert-custom.scss';
@forward 'custom/auth-custom.scss';
@forward 'custom/avatar-custom.scss';
@forward 'custom/badge-custom.scss';
@forward 'custom/breadcrumb-custom.scss';
@forward 'custom/button-custom.scss';
@forward 'custom/button-group-custom.scss';
@forward 'custom/card-custom.scss';
@forward 'custom/date-time-picker-custom.scss';
@forward 'custom/dropdown-custom.scss';
@forward 'custom/file-upload-custom.scss';
@forward 'custom/form-custom.scss';
@forward 'custom/list-group-custom.scss';
@forward 'custom/modal-closes-custom.scss';
@forward 'custom/nav-tab-custom.scss';
@forward 'custom/navbar-custom.scss';
@forward 'custom/object-fit-custom.scss';
@forward 'custom/offcanvas-custom.scss';
@forward 'custom/pagination-custom.scss';
@forward 'custom/progress-custom.scss';
@forward 'custom/popover-custom.scss';
@forward 'custom/scrollspy-custom.scss';
@forward 'custom/spinner-custom.scss';
@forward 'custom/sweet-alert-custom.scss';
@forward 'custom/tagify-cutom.scss';
@forward 'custom/toast-custom.scss';
@forward 'custom/tooltip-custom.scss';

/* ERP */  