@use '../variables-map' as *;

/* === Scroll To Top Set === */
.scrollToTop {
    position: fixed;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    z-index: 10000;
    height: 2.5rem;
    width: 2.5rem;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $primary-01;
    backdrop-filter: blur(30px);
    border: 1px solid $primary;
    border-radius: 6px;
    box-shadow: none;
    cursor: pointer;
    color: $primary;
    transition: 300ms ease;

    &:hover {
        background-color: $primary;
        backdrop-filter: blur(0px);
        color: $white;
    }
}
/* === Scroll To Top Set === */
