@use '../_variables-map' as *;

.app-content {
    padding-top: 94px;
    padding-left: 260px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $default-body-bg-color;
    transition: 500ms ease-in-out;

    .main-content {
        padding: 24px 24px 0;
        flex-grow: 1;
    }
}

[data-toggled="sidebar-close"] {
    @media(min-width: 992px) {
        &:not([data-sidebar="open"]) {
            .app-content {
                padding-left: 80px;

                .main-content {
                    padding: 20px 24px 0;
                    flex-grow: 1;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .app-content {
        padding-left: 0;
    }
}
