@use '../_variables-map' as *;

.app-footer {
    padding: 0 6px 6px 265px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    transition: 300ms ease-in-out;

    > .footer-container {
        padding: 0;
        background-color: $default-body-bg-color;
        border-top: 1px solid $default-border;
        border-radius: 0 0 15px 15px;

        > .footer-content {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 14px;
            padding: 20px;

            .copyright {
                color: $text-muted;

                .app-name {
                    font-weight: 500;
                    text-decoration: none;
                    color: $primary;
                    transition: 150ms ease;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}

[data-toggled="sidebar-close"] {
    @media(min-width: 992px) {
        &:not([data-sidebar="open"]) {
            .app-footer {
                padding-left: 80px;
            }
        }
    }
}


@media(max-width: 992px) {
    .app-footer {
        padding-left: 0;
    }
}
